.header{
    position:relative;
    box-sizing: border-box;
    width: 1340px;
    height: 116px;
    float:left;
    margin:0px;
    background-color:#373867; 
    overflow: hidden;
}
.headericon{
    position:absolute;
    margin-left: 200px;
}
.logomegarocket{
    position:absolute;
    margin-top:30px;
    margin-left:100px;
}
.megarockettext{
    position:absolute;
    margin-top:85px;
    margin-left:70px;
}
.menuicon{
    position:absolute;
    margin-left:85px;
}
.main{
    margin-right:0px;
}
.sidebar{
    position:relative;
    box-sizing: border-box;
    float:left;
    width: 200px;
    height:3200px;
    margin-bottom:20%;
    background-color: #373867;
    text-align: left;
}
a{
    position:relative;
    border-width: 0, 1px, 0, 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color:#c4c4c4; 
}
.links{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
}
a:hover{
    color:#46A37C;
}
.division{
    margin-top: 20px;
    margin-bottom:10px;
    height:1px;
    width:90%;
    background-color: #D9D9D9;
}
.sidebar ul{
    padding-left:10px;
    padding-bottom:20px;
    margin-bottom:10px; 
    list-style:none;  
}
.contact{
    color:#46A37C;
}
.arrow{
    position:absolute;
    margin-left:150px;
}
.getintouch{
    position:relative;
    padding-left:10px;
    padding-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #46A37C;
    color:#46A37C;
}
.contactinfo a{
    position:relative;
    margin-left: 40px;
    margin-top:10px;
    margin-bottom:250px;
    padding-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#c4c4c4; 
}
.contactinfo img{
    position:absolute;
}
.introduction h1{
    position:relative;
    margin-left: 300px;
    padding-top: 180px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-weight: 700;
    font-size:50px;
    line-height:70px;
    color:#373867;
}
.mega{
    color:#626380;
}
.introduction h2{
    position:relative;
    margin-left: 300px;
    padding-top:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:25px;
    color:#2F3058;
}
.MegaRocket{
    font-weight: bolder;
}
.introduction p{
    position:relative;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 300px;
    width:420px;
    background-color: white;
    font:normal 17px Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height:21.09px;
    color:rgba(0,0,0,0.75);
}
.img1{
    position:relative;
    float:right;
    box-sizing: border-box;
    margin-right:50px;
    margin-left:20px;
    width:500px;
    height:350px;
}
.clearfix::after{
    clear:both;
    display: table;
}
.aside{
    height:2px;
    width:900px;
    margin-top:90px;
    margin-left:300px;
    background-color: #D9D9D9;
}
.meetus{
    padding:50px;
    margin-left: 300px;
    margin-top:0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.09px;
    color: rgba(0,0,0,0.75);
}
.meetus h2{
    position:relative;
    padding-top:30px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:#2F3058;
}
.meetus h3{
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#373867;
}
.row::after{
    clear:both;
    display:table;
}
.column{
    position:relative;
    float:left;
    box-sizing: border-box;
    width:350px;
    height: 200px;
    margin-bottom:20px;
    margin-right:20px;
}
.column img {
    float:left;
    margin-right:20px;
    margin-bottom:20px;
    width:150px;
}
.aside2{
    height:2px;
    width:900px;
    margin-top:400px;
    margin-left:300px;
    background-color: #D9D9D9;
}
.contactus{
    position:relative;
    margin-left:300px;
    margin-top:5px;
    padding: 50px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height:21.09px;
    color: #2F3058;
}
.contactus h2{
    position:relative;
    padding-top:30px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:#2F3058;
}
.contactus label{
    position:relative;
    font-weight: bold;
}
.contactus p{
    position:relative;
    padding:10px;  
}
.contactus button {
    position:relative;
    padding:10px;
    margin:10px;
    border-radius: 2px;
    background-color: #373867;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
.contactus button:hover{
   background-color: #46A37C;
}
.aside3{
    height:2px;
    width:900px;
    margin-top:50px;
    margin-left:300px;
    background-color: #D9D9D9;
}
.aboutus{
    position:relative;
}
.aboutus h2{
    position:relative;
    margin-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:#2F3058;
}
.aboutus p{
    position:relative;
    margin: 20px 50px 20px 300px;
    width:820px;
    font:normal 17px Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height:21.09px;
    color:rgba(0,0,0,0.75);   
}
.aboutus h3{
    position:relative;
    margin-left: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#2F3058;
}
.ourthoughts p{
    position:relative;
    width:500px;
    padding-left:300px;
    font:normal 17px Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height:21.09px;
    color:rgba(0,0,0,0.75);
}
.imggirlatgym{
    position:absolute;
    padding-left:90px;
}
.p2{
    position:relative;
    width: 300px;
}
.img2{
    position:absolute;
    float:right;
    box-sizing: border-box;
    margin-left:600px;
}
.wearefamily h3{
    position:relative;
    padding-top:100px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#2F3058;
}
.wearefamily p::after{
    position:absolute;
    box-sizing: border-box;
}
.wearefamily p{
    position:relative;
    width:400px;
    margin-bottom:10px;
    font:normal 17px Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height:21.09px;
    color:rgba(0,0,0,0.75);
}
.Megarocket{
    font-weight: bold;
}
.aside4{
    height:2px;
    width:900px;
    margin-top:80px;
    margin-left:300px;
    background-color: #D9D9D9;
}
.gymsection{
    padding-left:300px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#2F3058;
}
.gymsection h2{
    position:relative;
    margin-left: 5px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color:#2F3058;
}
.gymsection h4{
    margin-top:10px;
    padding-left: 10px;
    font-size: 25px;
    text-align: left;
}
.row2::after{
    clear:both;
    display:table;
}
.column2{
    position:relative;
    float:left;
    box-sizing: border-box; 
    box-shadow: 5px 5px 5px #c4c4c4;
    margin-right:20px;
    margin-bottom:20px;
    padding-left:30px;
    padding-bottom:10px;
    width:420px;
    height: 192px;
    border:1px solid #46A37C;
    border-radius: 10px;
    line-height: 20px;
}
.column2 h4{
    padding-bottom: 20px;
    font-weight: bold;
}
.footer{
    position:relative;
    box-sizing: border-box;
    width: 1140px;
    height:90px;
    margin-top: 474px;
    margin-left:200px;
    overflow: hidden;
    background-color:#2C2C3A; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    color:#46A37C;
}