.header{
    display: flex;
    justify-content: center;
    background-color: #373867;
    height:84px;
    width:100%;
}
.header > div{
   padding:5px;
   margin-top:10px;
}

.mega1{
    font-size: 30px;
    font-weight: bold;
    color: #46A37C;
}
.rocket{
    color:#AACF9B;
    font-size: 30px;
}



