.header{
    background-color: #373867;
    height:84px;
}
.menuicon {
    display:flex;
    align-self: flex-start;
    padding-top:5px;
}
.container{
    display:flex;
    align-self:center;
    padding-bottom: 10px;
    margin: 0 auto;
    padding: 0 30px;
}
.mega {
    font-size: 30px;
    font-weight: bold;
    color: #46A37C
}
.rocket{
    color:#AACF9B;
    font-size: 30px;
}

